<div class="settings-container">
    <h1>Settings</h1>

    <h3>Display Options</h3>
    <label for="showName">
        <input type="checkbox" id="showName" name="showName" [(ngModel)]="settings.showName">
        Show Name
    </label>
    <label for="showDescription">
        <input type="checkbox" id="showDescription" name="showDescription" [(ngModel)]="settings.showDescription">
        Show Description
    </label>
    
    <h3>Filter Options</h3>
    <label for="onlyLivingPeople">
        <input type="checkbox" id="onlyLivingPeople" name="onlyLivingPeople" [(ngModel)]="settings.onlyLivingPeople">
        Only Living People
    </label>
    <label for="onlyWithImages">
        <input type="checkbox" id="onlyWithImages" name="onlyWithImages" [(ngModel)]="settings.onlyWithImages">
        Only With Images
    </label>
    <label for="onlyWithPreferredLanguage">
        <input type="checkbox" id="onlyWithPreferredLanguage" name="onlyWithPreferredLanguage" [(ngModel)]="settings.onlyWithPreferredLanguage">
        Show only entries with a description in a preferred language
    </label>
    <div>
        <label for="preferredLanguage">Preferred Languages:</label>
        <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="language-container">
            @for (language of this.settings.languagePreferences; track language) {
                <div class="language-box" cdkDrag>
                    {{ language }}
                    <button class="remove-button" (click)="this.removeLanguage(language)">x</button>
                </div>
            }
            <div class="language-box">
                <input
                    class="language-input"
                    type="text"
                    id="preferredLanguage"
                    name="preferredLanguage"
                    placeholder="Add language and press Enter"
                    (keydown.enter)="this.addLanguage($event)"
                >
            </div>
        </div>
    </div>

    <div class="button-container">
        <span>Number of persons found with the current settings: {{ this.apiService.totalEntries }}</span>
        <button (click)="this.reset()">Reset to Default</button>
        <button (click)="this.save()">Save</button>
    </div>
</div>