<button command="show-modal" commandfor="my-dialog">Open dialog</button>

<dialog id="my-dialog">
    <div class="modal-header">
        <h3>Settings</h3>
    </div>

    <div class="modal-body">
        <div>
            <input type="checkbox" id="showName" name="showName" [(ngModel)]="settings.showName">
            <label for="showName">Show Name</label>
        </div>
        <div>
            <input type="checkbox" id="showDescription" name="showDescription" [(ngModel)]="settings.showDescription">
            <label for="showDescription">Show Description</label>
        </div>
        <div>
            <input type="checkbox" id="onlyLivingPeople" name="onlyLivingPeople" [(ngModel)]="settings.onlyLivingPeople">
            <label for="onlyLivingPeople">Only Living People</label>
        </div>
        <div>
            <input type="checkbox" id="onlyWithImages" name="onlyWithImages" [(ngModel)]="settings.onlyWithImages">
            <label for="onlyWithImages">Only With Images</label>
        </div>
        <div>
            <input type="checkbox" id="onlyWithPreferredLanguage" name="onlyWithPreferredLanguage" [(ngModel)]="settings.onlyWithPreferredLanguage">
            <label for="onlyWithPreferredLanguage">Only With Preferred Language</label>
        </div>
        <div>
            <label for="preferredLanguage">Preferred Language:</label>
            <div cdkDropList (cdkDropListDropped)="onDrop($event)">
                @for (language of this.settings.languagePreferences; track language) {
                    <div class="example-box" cdkDrag>{{ language }}</div>
                }
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button onclick="this.settingsService.resetSettings(); this.settings = this.settingsService.settings;">Reset to Default</button>
        <button onclick="this.save()">Save</button>
        <button commandfor="my-dialog" command="close" onclick="this.save()">Save and close</button>
        <button commandfor="my-dialog" command="close">Close</button>
    </div>
</dialog>